<div class="dashboard-banner">
  <h1>READY SET GO</h1>
</div>

<div class="dashboard-content">

  <h2 class="dashboard-title">Your upcoming bookings</h2>
  <div class="dashboard-upcoming-bookings">
    <!-- Cards -->
    <% @bookings.each do |b| %>
      <%= link_to training_session_path(b.training_session) do %>
        <div class="dashboard-card">

          <% if b.training_session.photo.attached?  %>
            <%= cl_image_tag b.training_session.photo.key, crop: :fill, class: "dashboard-card-img" %>
          <% else %>
            <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
          <% end %>
          <div class="dashboard-card-infos">
            <h2><%= b.training_session.description %></h2>
            <% trainer_name = (b.training_session.trainer.name).nil? ? "No data" : b.training_session.trainer.name; %>
            <p class="light-text"> Trainer: <%= trainer_name %> </p>
             <% date = (b.training_session.start_time).nil? ? "No data" : b.training_session.start_time; %>
            <p><%= date.to_s(:rfc822).slice(0, 16) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr />

  <% if @t_sessions.nil? == false %>
    <!-- User Training Session (as a coach) -->
    <h2 class="dashboard-title">Your Training Sessions</h2>
    <div class="dashboard-upcoming-trainings">
      <% @t_sessions.each do |t| %>
         <%= link_to training_session_path(t) do %>
            <div class="dashboard-card">

          <% if t.photo.attached?  %>
             <%= cl_image_tag t.photo.key, crop: :fill, class: "dashboard-card-img" %>
          <% else %>
            <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
          <% end %>

              <div class="dashboard-card-infos">
                <h2><%= t.description %></h2>
                <p><%= t.start_time.to_s(:rfc822).slice(0, 16) %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
