<div class="container mt-2">

  <div class="training-header">
    <div class="training-header__left">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </div>

    <div class="training-header__right">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </div>
  </div>

  <div class="training-content">
    <div class="training-content__info">
      <h2><%=@t_session.category%></h2>
      <p><%=@t_session.description%></p>
    </div>
    <div class="training-content__cart">

      <h3>Your basket is empty</h3>
      <p>£<%=@t_session.cost%></p>

            <%= simple_form_for [@t_session, @booking] do |f| %>        
            <%= f.submit 'New Training Session', class: 'btn btn-primary' %>
        <% end %>

    </div>
  </div>


</div>

