<div class="main-container">
  <div class="top-header">
    <h2>Meet your <i class="highlighted"><%=@t_session.category%></i> coach</h2>
  </div>

  <div class="training-content-cart">
    <h5>Basket</h5>
    <p>Book <%=@t_session.category%> class at <%=@t_session.address%> for £<%=@t_session.cost%>?</p>
    <%= simple_form_for [@t_session, @booking] do |f| %>
    <%= f.submit 'book', class: 'btn btn-checkout' %>
    <%= link_to "View Basket", dashboard_path, class: 'btn btn-checkout' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="top-container d-flex justify-content-between" style="background-image: url('https://source.unsplash.com/FodEsaNZs48/1600x900');">

          <div class="trainer-picture p-5">
          <div class="training-content-info">
            <div class="card-row">
            <h5><%=@t_session.description%></h5>
            <h5><%=@t_session.start_time.strftime('%A %d %B at %I:%M%p')%></h5>
            <%= cl_image_tag @t_session.photo.key, height: 200, width: 200, crop: :fill, class: "trainer-image" %>
            <p>I'm a University student at Manchester Met. I've been training with Boxing for 2 and a half years now after trying many other gyms. The Boxing gym I go to is open 24/7 which means I can go when I want whilst balancing university and part time work. Working out at the Boxing gym has helped improve my strength and athletic performance, which has enabled me to play top level rugby league. I find getting a workout in really helps to set me up for a productive day.</p>
            </div>
          </div>
          </div>
          <div class="spotify p-5">
            <iframe src="https://open.spotify.com/embed/playlist/03aLchHaqljucMRPz5L8Su" width="300" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>

      </div>
    </div>
  </div>
  <div class="middle-banner d-flex justify-content-center">
    <h1>A <strong>HEALTHY</strong> BODY IN A <strong>HEALTHY</strong> MIND</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="training-content d-flex justify-content-between">
        <div class="container">
          <div class="cards">

            <div class="covid-card">
              <i class="fas fa-head-side-mask"></i>
              <p>Face Coverings Required while exercising</p>
            </div>

            <div class="covid-card">
              <i class="fas fa-people-arrows"></i>
              <p>Social distancing while exercising</p>
            </div>

            <div class="covid-card">
              <i class="fas fa-pump-soap"></i>
              <p>Hand sanitizer provided at class</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



